/*----------- Tabs --------------*/
.tab-container{
  position: relative;
  width: 100%;
  z-index: 10;
}
.tabs-list{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: absolute; 
}

.btn_tab {
  border: none;
  outline: none;
  padding: 10px;
  background: white;
  /*-webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.919); */
}

.btn_tab:first-child {
  border-radius: 0px 0px 0px 5px;
}

.btn_tab:last-child {
  border-radius: 0px 0px 5px 0px;
}

.btn_tab:hover { 
  background: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.919);
}

.active {
  color:blue;
}
